@media print {
  @page {
    margin: 0;
    size: a4;
  }

  * {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

[data-printer-type='document'] {
  --pagination-content: '';
  counter-reset: printer-page;
}

[data-printer-type='page'] {
  height: 100vh;
  overflow-y: hidden;
}

[data-printer-type='page']:not(:last-child),
[data-printer-type='view']:not(:last-child) {
  break-after: page;
}

[data-printer-component='header'] {
  position: absolute;
}

[data-printer-component='footer'] {
  position: absolute;
  counter-increment: printer-page;
}

[data-printer-component='pagination']::before {
  content: var(--pagination-content);
}
