@media print {
  @page {
    margin: 0;
    size: a4;
  }

  * {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

body {
  margin: 0;
  overflow: hidden;
}

[data-printer-type='document'] {
  --pagination-content: '';
  counter-reset: printer-page;
}

[data-printer-article='page'] {
  height: 100vh;
  overflow: hidden;
}

[data-printer-article='pages'] {
  overflow-x: hidden;
}

[data-printer-article]:not(:last-child) {
  break-after: page;
}

[data-printer-section='header'],
[data-printer-section='footer'] {
  position: absolute;
  left: 0;
  right: 0;
}

[data-printer-section='header'] {
  counter-increment: printer-page;
}

[data-printer-component='pagination']::before {
  content: var(--pagination-content);
}

@media print {
  [data-printer-screenonly='true'] {
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
}

@media screen {
  [data-printer-printonly='true'] {
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
}

@media print {
  body:has(> [data-printer-type='portal']) > :not([data-printer-type='portal']) {
    display: none;
  }
}
